@font-face {
   font-family: 'Luckiest Guy';
   src: url('./scripts/cenas/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2');
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.botao-tela-inicial {
  font-family: 'Luckiest Guy', cursive;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #4a4c69;
  text-transform: uppercase;
  background-color: #8386b5;
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botao-tela-inicial:hover {
  background-color: rgb(122, 187, 9);
  box-shadow: 2px 2px 0px 1px darkolivegreen;
}
